/* ==========================================================================
   	MEDIA QUERIES.
   ========================================================================== */

@media (max-width:1200px) { 
.container{
    max-width: 95%;
} 
    
about-us p{
    margin-bottom: 0.40rem;
}
    
.bullets-list p{
    line-height: 1.8;
    margin-bottom: 0px;
}
    
.btn-more-box{
    margin-top: 0.60rem;
}
    
.about-us h3{
    font-size: 1rem;
}
    
.four-columns .about-author h4{
    font-size: 14px;
}


.four-columns .button {
  position: relative;
  -webkit-perspective: 300px;
          perspective: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #FB5607;
}

.four-columns .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  text-decoration: none;
}
    
.four-columns .post-caption{
    margin: 30px 20px;
}
    
.four-columns .about-author p{
    font-size: 11px;
}
    
.media-list{
    margin-top: 0.90rem;
    height: 60px;
}
    
.media-thumb{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
    
.media-post h4{
    font-size: 15px;
    margin-bottom: 0px;
}
    
.media-post p{
    font-size: 13px;
}
    
.about-img-all{
    padding-top: 2%;
}
    
.profile-header{
    margin-top: -150px;
}

.profile-right{
    padding-top: 110px;
}
    
.item-box{
    margin-bottom: 1rem;
    height: auto;
    padding-bottom: 20px;
}

.item-box:hover{
     padding-bottom: 20px;
}
    
    
.item-box:hover .item-caption{
    margin-top: 0px;
    background: #FFF;
}
    
.item-box .item-rating .inner-rating{
    display: inherit;
    display: inline-block;
}
    
.home-carousel{
    padding-top: 18%;
}
    
}

@media (max-width:1100px) { 
.about-img-all{
    padding-top: 7%;
}
    
.home-hero{
    padding: 2rem 0rem;
}
    
.home-hero h1{
    line-height: 1.2;
}    
    
.home-hero p{
    line-height: 1.6;
    font-size: 14px;
}
      
    
}

@media (max-width:992px) { 
    
html {
    font-size: 20px;
}
    
.top-header{
    display: none;
}
    
footer{
    padding: 5px 0px 80px 0px;
}
    
.footer-col{
    padding: 20px 0px;
} 
    
.last-col{
    padding-bottom: 0px;
}
    
.location-phone{
    padding: 0px;
}
    
.footer-col h5{
    margin-bottom: 10px;
} 
 
.inner-counter{
    border: none;
    margin-bottom: 1.25rem;
}
    
.icon-circle{
    width: 100px;
    height: 100px;
}

figure.center-icon{
    width: 60px;
    height: 60px;
}
    
.about-us, .team-slider{
    margin-top: 1.8rem;
}
    
.section-title{
    width: 70%;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&& OJO &&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    
.services-box h4{
    font-size: 1.125rem;
}
    
.team-card .caption h4{
    font-size: 1rem;
    margin-bottom: 3px;
}
    
.pricing-box h4{
    font-size: 1.125rem;
}
    
.inner-benefits h4{
    font-size: 1rem;
}
    
.jobs-box h4{
    font-size: 1rem;
}
    
.accordion a {
    font-size: 0.83rem;
}
    
.smm-box h4{
    font-size: 1rem;
    text-align: center;
}
    
.animated-bars h5{
    font-size: 0.85rem;
}
    
.support-info h5{
    margin-bottom: 5px;
    font-size: 0.90rem;
}
    
.item-box .item-caption h4{
    font-size: 0.95rem;
}
    
    
/* &&&&&&&&&&&&&&&&&&&&&&&&&&& OJO &&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
    
.about-us h3{
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 600;
}
    
.btn-more-box{
    margin-top: 1.3rem;
}
    
.our-team{
    margin-top: 1rem;
}
    
.about-team-pic{
    margin-top: 1rem;
}
    
.seo-about-pic{
    margin-top: 2rem;
}

.section-title{
    margin-bottom: 1.2rem;
}
    
.pricing-table{
    margin-top: 2rem;
}
    
.organic-pulsing-video{
    margin-top: 1.8rem;
}  
    
.benefits{
    margin-top: 1.4rem;
}
    
.lower-box{
    margin-top: 0rem;
}
    
.jobs-box{
    margin-top: 1.5rem;
}
    
.tablet-responsive{
    margin-top: 0rem;
}
    
.bottom-col{
    margin-top: 1.5rem;
}
    
.error-page{
    height: 768px; 
}
    
.bottom-box{
    margin-top: 1rem;
}
    
.smm-about{
    margin-top: 0px;
}
    
.smm-about-img{
    margin: 1rem 0rem;
}

.skills-info{
    margin: 1.5rem 0px;
}
    
.demo-video{
    margin-top: 0px;
}
    
.ppc-about{
    margin-top: 0px;
    margin-bottom: 1rem;
}
    
.post-caption h3{
    font-size: 1.2rem;
    font-weight: 600}

.post-caption p{
    line-height: 1.7;
}
    
blockquote{
    line-height: 1.7;
}
    
.three-columns .bottom-post{
    height: 60px;
}
    
.three-columns .author-avatar{
    width: 60px;
    height: 60px;
}
    
.three-columns .about-author{
    padding: 12px;
}
    
.three-columns .about-author h4{
    font-size: 0.80rem;
    margin-bottom: 0px;
    color: #0A178F;
}
    
.three-columns .post-details{
    margin-top: 10px;
    margin-right: 15px;    
}
    
.about-author{
    padding: 12px;
}
    
.four-columns .bottom-post{
    height: 60px;
}
    
.four-columns .author-avatar{
    width: 60px;
    height: 60px;
}
    
.four-columns .about-author{
    padding: 12px;
}
    
.four-columns .about-author h4{
    font-size: 0.80rem;
    margin-bottom: 0px;
    color: #0A178F;
}

.four-columns .post-author{
    width: 70%;
    height: 60px;
}
    
.four-columns .post-details{
    margin-top: 10px;
    margin-right: 15px;    
}
    
.four-columns .back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.80rem;
  color: white;
  text-decoration: none;
}

.four-columns .button, .soc-but {
  width: 40px;
  height: 40px;
}

.four-columns .button {
  position: relative;
  -webkit-perspective: 300px;
          perspective: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #FB5607;
}
    
.four-columns .about-author p{
    margin-top: 0px; 
    font-size: 13px;
}

.media-list{
    margin-top: 1.3rem;
    height: 80px;
}
  
.media-thumb{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
}

.media-thumb img{
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.media-post h4{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.4;
}
    
.aside-right{
    margin-top: 1.5rem;
}
    
.post-single{
    margin-bottom: 1.5rem;
}

.about-img-all{
    padding-top: 3%;
}
    
.profile-right{
    padding-left: 0px;
}
  
.accordion-side{
    padding-right: 0px;
}

.seo-wide{
    margin-top: -300px;
    height: 100%;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    background: transparent;
}
    
.seo-info-details{
    padding: 1.5rem 0rem;
}
    
.seo-info-details{
    margin-top: 1rem;
}
    
.tablet-view{
    margin-top: 1.5rem;
}
    
.project-leftside{
    margin-top: 1rem;
}

.cart-sidebar{
    margin-top: 1.5rem;
}

.contact-form{
    margin-top: 1.5rem;
}
    
.blog-style-3, .shop-filter{
    margin-top: 2rem;   
}

.home-carousel{
    padding-top: 15%;
}
    
.home-hero{
    padding-bottom: 0rem;
}
    
.seo-front-img{
    margin-top: 1.5rem;
}

.tablet-view-2{
    margin-top: 1rem;
}

.testimonials{
    margin-top: 2rem;
}
    
.blog-leftside{
    margin-bottom: 2rem;
}

}

@media (max-width:991px) { 
    
.center-box{
    margin: 2.5rem 0px;
}
    
.services-container{
    margin-top: -210px;
}
    
.about-img-all{
    padding-top: 0%;
    margin-top: 1.5rem;
}
    
}


@media (max-width:768px) { 
.container{
    max-width: 100%;
} 
    
footer{
    padding: 2px 0px 0px 0px;
}
  
.footer-col{
    padding: 15px 0px;
} 
  
hr.footer{
    margin: 10px auto 30px auto;
}  

.copytight{
    float: none; 
}
    
.social-footer{
    float: none;
    margin-top: 0px;
    margin-top: 0px;
    width: 175px;
    margin: auto;
}
    
.copytight p{
    text-align: center;
}
    
.counter-container{
    height: 100%;
}
    
.inner-color{
    padding: 1.5rem 0rem;
}

    
.inner-counter{
    border: none;
    margin: 1rem 0rem;

}
    
.services-container{
    margin-top: 1.5rem;
}
   
.pricing-table{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    padding: none;
}
    
.pricing-box{
    border-right: none;
    box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -moz-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -webkit-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -o-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    padding: 40px 0px 45px 0px;
    margin: 0px 15px;
}
    
.center-box-table{
    margin: 2.5rem 15px;
}
    
.pricing-table{
    margin-top: 0rem;
}
    
.jobs-box{
    margin-top: 1rem;
}
    
.movil-responsive{
    margin-top: 1rem;
}

.tablet-bottom{
    border-bottom: dotted 1px #ddd;
}
    
.movil-grid{
    border-right: none;
}
 
.top-col{
    margin-top: 1.5rem;
}
    
.movil-view{
    margin-top: 1rem;
}
    
.aside-left{
    margin-top: 1.5rem;
}
    
.profile-header{
    margin-top: 0px;
}

.profile-right{
    padding-top: 2.5rem;
}
    
.wide-info-content{
    width: 60%;
}
    
.product-information{
    margin-top: 1.5rem;
}
    
.inner-coupon-box{
    display: block;
    margin-right: 0px;
    margin-bottom: 10px;
}
    
.blog-style-3, .shop-filter{
    margin-top: 0rem;
}
   
.home-carousel{
    padding-top: 18%;
}    

.home-hero{
    text-align: center;
}
    
.blog-leftside{
    margin-bottom: 0rem;
}

     
}

@media (max-width:576px) { 

.bottom-footer{
    padding: 0px 15px;
}
    
figure.footer-logo{
    width: 100px;
}

    
.sections{
    height: 250px; 
}
    
#particles-js {
    height: 250px;
}

.pages-title h1{
    font-size: 1.3rem;
}
    
.section-title p{
    font-size: 14px;
}
    
.pages-title p{
    font-size: 14px;
}
    
.circle-icon-benefit{
    width: 50px;
    height: 50px;
}

.icon-benefit-fa{
    width: 25px;
    height: 25px;
}

.icon-benefit-fa .fas{
    font-size: 25px;
}
    
.error-page{
    height: 600px; 
}
    
.author-avatar{
    width: 45px;
    height: 45px;
}
    
.about-author{
    padding: 5px;
}
    
.bottom-post{
    clear: both;
    height: 45px;
}
    
.post-details{
    float: right;
    margin-top: 5px;
    margin-right: 10px;    
}
    
.post-caption p{
    font-size: 14px;
}
    
.three-columns .author-avatar{
    width: 45px;
    height: 45px;
}
    
.three-columns .about-author{
    padding: 5px;
}
    
.three-columns .bottom-post{
    clear: both;
    height: 45px;
}
    
.three-columns .post-details{
    float: right;
    margin-top: 5px;
    margin-right: 10px;    
}
    
.three-columns .post-caption p{
    font-size: 14px;
} 
    
.four-columns .author-avatar{
    width: 45px;
    height: 45px;
}
    
.four-columns .about-author{
    padding: 5px;
}
    
.four-columns .bottom-post{
    clear: both;
    height: 45px;
}
    
.four-columns .post-details{
    float: right;
    margin-top: 5px;
    margin-right: 10px;    
}
    
.four-columns .post-caption p{
    font-size: 14px;
}
    
.user-avatar{
    width: 70px;
    height: 150px;
}
    
p.comment{
    font-size: 13px;
}
    
.single-post-details{
    height: 100%;
    margin-bottom: 0rem;  
}
    
.single-post-social{
    margin-top: -18px;
}
    
.single-post-details .post-author{
    float: none;
    width: 100%;
    height: 60px;
}
    
.single-post-social{
    float: none;
}

.single-post-caption hr.posts{
    margin: 3px auto 20px auto;
}
    
.btn-tags {
    margin-bottom: 5px;
}
    
.error-page .middle h4{
    line-height: 1.5;
}
    
.wide-info-content{
    width: 70%;
}
    
.movil-view-2{
    margin-top: 1.5rem;
}
  
.cart-box{
    height: 100px;
}
    
.cart-item-thumb{
    width: 100px;
    height: 100px;
}
    
    
.home-carousel{
    padding-top: 25%;
} 
    
.testimonials .owl-carousel .item .aut-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: none;
    margin: auto auto 10px;
    transition: .3s border linear;
}
        

    
.testimonials .owl-carousel .item p{
    text-align: center;
}    
    
.testimonials .owl-carousel .item h5{
    text-align: center;

}
    
.rating{
    text-align: center;
    margin-top: -15px;
}
    
}

@media (max-width:450px) { 
html {
    font-size: 18px;
}
    
.section-title{
    width: 90%;
}
    
.section-title p{
    line-height: 1.6;
}

.bullets-list p{
    font-size: 14px;
}
    
a.btn-hover-corner {
  font-size: 13px;
  padding: 0.70em 2.1em;
}
    
.user-avatar{
    float: none;
    margin: 0px auto 20px auto;
    width: 70px;
    height: 70px;
}
    
.comment-details{
    text-align: center;
}
    
.accordion a {
    font-size: 0.86rem;

}
    
.nav-pills a {
    padding: 8px 10px;
    border-radius: 30px;
}
    
.wide-info-content{
    width: 85%;
}
    
.filter-left, .filter-right{
    float: none;
}
    
.review-details h4{
    text-align: center;
}

p.review-date{
    text-align: center;
}

p.review{
    text-align: center;
}
    
.review-rating{
    margin-top: -7px;
    width: 115px;
    margin: auto;
}
    
.product-full-description .nav-link {
    display: block;
    padding: 0.60rem 0.80rem;
}
    
.item-total p{
    font-size: 14px;
}
    
.close-btn{
    right: 0px;
}
    
.item-total{
    right: 0px;  
}
    
.close-btn .fas{
    font-size: 14px;
}
    

}